body {
    background-color: #1a1a1a;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.ySfnosCxrTptwiU9EoJL4wHaHu%26pid%3DApi&f=1&ipt=39d9e3be2df665953dde4d4c9d14ed045d4cfe76c946f8336fc2e10cbe9ce2c4&ipo=images);
    opacity: 1;
    background-opacity: .3;
        color: red;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    color: red;
}

header h1 {
    margin: 0;
    color: red;
}

nav {
    /* Add styling for navigation if needed */
}

#main-content {
    padding: 20px;
}

article {
    margin-bottom: 20px;
    color: red;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: red;
}
